.quote-input {
    height: 6rem;
    resize: none;
}

.correct {
    color: var(--success);
}

.incorrect {
    color: var(--danger);
    text-decoration: underline;
}

.wpm-display {
    top: 0;
    right: 0;
}